.bottomDiv {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(44, 61, 128);
  color: white;
  margin: 0px !important;
}
.linkDiv {
  background-image: url("https://sytb5eeu.cdn.imgeng.in/img/footer-bg.jpg");
  height: 300px;
}
